html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: rgb(68, 68, 68);
  scroll-behavior: smooth;
}

#container {
  width: 100vw;
  height: 100%;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 2vw;
  width: 40rem;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 0px 0px 0px 5px;
}

#map {
  width: 100%;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#directions-panel {
  margin-top: 10px;
  font-weight: 500;
  color: rgb(48, 48, 48);
}

input {
  width: 96%;
  display: block;
  padding: 2%;
  font-size: medium;
  border-radius: 5px;
  border: 1.5px solid gray;
}

button {
  padding: 10px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  transition: ease-in-out 0.35s;
  background-color: rgb(238, 238, 238);
}

#addInput {
  padding: 5px;
  margin: 5px 0px;
}

#submit,
#showMap {
  padding: 10px 45px;
  margin-bottom: 2.5vh;
}

button:hover {
  color: white;
  background-color: black;
}

#showMap {
  float: right;
}

p {
  font-size: x-large;
  font-weight: bolder;
  letter-spacing: -0.5px;
  word-spacing: -5px;
  position: relative;
  top: 5px;
}

.dButton {
  width: 15px;
  height: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  position: absolute;
  right: 5px;
  bottom: 12px;
  color: rgb(212, 44, 44);
  padding: 0px 0px 2px 7px;
  font-weight: bold;
}

#dButton {
  position: relative;
}

#dReducer {
  letter-spacing: -0.9px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.164),
    1px 1px 1.5px rgba(0, 0, 0, 0.151);
}

#transit-mode {
  padding: 7px 25px;
  border-radius: 5px;
  position: fixed;
  right: 2vw;
  top: 70px;
  font-size: large;
}

.hButton {
  position: absolute;
  z-index: 1;
  padding: 5px 25px;
  right: 50%;
  transform: translateX(50%);
  bottom: 0.5%;
  display: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

b {
  color: #068a0c;
}

/************ media query ************/

@media screen and (max-width: 768px) {
  #sidebar {
    width: 100%;
  }
}